<footer>
  <div class="text-center text-sm text-gray-600 my-4 flex flex-col gap-1">
    <hr class="border-t border-gray-300 w-full" />
    <span>社会福祉法人 青和会</span>
    <span
      >〒375-0057　群馬県藤岡市上落合133-5　 TEL：0274-40-8120　
      FAX：0274-40-8121</span
    >
  </div>
</footer>
